/* setting font */
* {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
.headings {
  font-family: "Bebas Neue", cursive;
}

html h1 {
  color: white;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

html h2 {
  color: white;
  font-size: 36px;
  font-weight: bold;
}

html h3 {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

html .subtext {
  color: white;
  font-size: 14px;
}

html .body {
  color: white;
  font-size: 18px;
  letter-spacing: 0.1rem;
}

html .main-button {
  font-size: 16px;
  font-weight: bold;
}

html .navigation a {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

html .navigation:hover {
  color: #fbb341 !important;
}

/* header */
header {
  background-image: url(/img/bg/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* navbar */
nav {
  background-color: rgba(0, 0, 0, 0.7);
}

nav .nav-icon {
  margin-top: 10px;
}

/* hero */
#hero {
  padding-top: 10%;
}

.header-scroll-link-wrapper {
  text-decoration: none;
}

/* about */
#about {
  height: 100vh;
  background-image: url(/img/bg/the-games-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#about .about-left {
  margin-top: 25vh;
}

#about .about-right {
  margin-top: 25vh;
}

/* features */
#features {
  height: 100vh;
  background-image: url(/img/bg/features.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#features .features-title {
  margin-top: 25vh;
}

#features h1 {
  font-size: 80px;
  letter-spacing: 0.2rem;
}

#features h3 {
  letter-spacing: 0.2rem;
}

#features .features-content {
  margin-top: 10vh;
}

/* System Req */
#system-req {
  background-image: radial-gradient(30% 75% at 65% 40%, rgba(0, 0, 52, 0) 0%, rgba(10, 10, 10, 0.5) 50%, #000 95%), url(/img/bg/requirements.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 10%;
  padding-top: 10vh;
}

#system-req h1 {
  font-size: 80px;
  letter-spacing: 0.2rem;
  margin-top: 5vh;
}

#system-req h2 {
  font-size: 36px;
  letter-spacing: 0.2rem;
}

/* top scores */
#top-scores {
  background-image: url(/img/bg/top-score-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 5%;
}

#top-scores .top-scores-title {
  padding-top: 45vh;
}

#top-scores .profilepic {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: flex;
  margin: 15px 20px;
}

#top-scores .cards {
  margin-bottom: 5vh;
}

#top-scores .card-date {
  color: #a2a2a2;
}

/* Newsletter */
#newsletter {
  background-image: url(/img/bg/newsletter.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10%;
}

#newsletter .main-button {
  margin-top: 25px;
  height: 45px;
}

/* Footer */
footer {
  background-image: url(/img/bg/newsletter.png);
}
#footer .navbar-bottom {
  background-color: rgba(0, 0, 0, 0.1);
}

#footer .footer-link p {
  color: rgba(255, 255, 255, 0.5);
}

#footer .footer-link a:hover {
  color: #fbb341;
}
/* Media Query */
@media screen and (max-width: 768px) {
  /* top scores */
  #top-scores .top-scores-title {
    padding-top: 5vh;
  }

  #top-scores .top-scores-cards {
    margin-top: 10vh;
  }
}
