/* setting font */
* {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
.headings {
  font-family: "Bebas Neue", cursive;
}

html h1 {
  color: white;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

html h2 {
  color: white;
  font-size: 36px;
  font-weight: bold;
}

html h3 {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

html .subtext {
  color: white;
  font-size: 14px;
}

html .body {
  color: white;
  font-size: 18px;
  letter-spacing: 0.1rem;
}

html .main-button {
  font-size: 16px;
  font-weight: bold;
}

html .navigation {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

/* header */
header {
  background-image: url(/img/bg/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* navbar */
nav {
  background-color: rgba(0, 0, 0, 0.7);
}

/* hero */
#hero h1 {
  margin-top: 25vh;
}

.header-scroll-link-wrapper {
  text-decoration: none;
}

/* gallery */
#gallery {
  height: 100vh;
  background-image: url(/img/bg/the-games-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#gallery .gallery-left {
  margin-top: 25vh;
}

#gallery .gallery-right {
  margin-top: 25vh;
}

/* features */
#features {
  height: 100vh;
  background-image: url(/img/bg/features.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#features .features-title {
  margin-top: 25vh;
}

#features h1 {
  font-size: 80px;
  letter-spacing: 0.2rem;
}

#features h3 {
  letter-spacing: 0.2rem;
}

#features .features-content {
  margin-top: 10vh;
}

/* System Req */
#system-req {
  background-image: url(/img/bg/requirements.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 10%;
  padding-top: 10vh;
}

#system-req h1 {
  font-size: 80px;
  letter-spacing: 0.2rem;
  margin-top: 5vh;
}

#system-req h2 {
  font-size: 36px;
  letter-spacing: 0.2rem;
}

/* top scores */
#top-scores {
  background-image: url(/img/bg/top-score-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 5%;
}

#top-scores .top-scores-title {
  margin-top: 45vh;
}

#top-scores .profilepic {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: flex;
  margin: 15px 20px;
}

#top-scores .name {
  margin-left: -30px;
}

#top-scores .twitter {
  width: 35px;
  height: 35px;
  padding-left: 10px;
}

#top-scores .cards {
  margin-bottom: 10vh;
}

#top-scores .card-date {
  color: #a2a2a2;
}

/* Footer */
footer {
  background-image: url(/img/bg/newsletter.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10%;
}

/* Media Query */
